<div>
  <form class="edit-form">
    <label for="start"><h4 class="form-title">Start Date Time</h4></label>
    <input class="date-input" name="start" [formControl]="formStart" type="datetime-local" />
    <label for="stop"><h4 class="form-title">Stop Date Time</h4></label>
    <input class="date-input" name="stop" [formControl]="formStop" type="datetime-local" />
    <label for="trainingDescription"><h4 class="form-title">Training Description</h4></label>
    <input name="trainingDescription" [formControl]="formTrainingDescription" />
    <button (click)="closeFn()">Close</button>
    <button (click)="submit()">Submit</button>
  </form>
</div>
