main {
    display: grid;
    justify-content: center;
    align-content: center;
}

.timeTracking-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
