<div class="event">
  <div class="date-info">
    <h4 class="title">Start</h4>
    <p class="date-text">{{ start }}</p>
   
    @let stopValue = stop$ | async;
    @if (stopValue) {
      <h4 class="title">Stop</h4>
      <p class="date-text">{{stopValue}}</p>
    } @else {
      <h4 class="title">Stop</h4>
      <p class="date-text">Event not stopped</p>
    }
    <h4 class="title">Day of The Week</h4>
    <p class="date-text">{{ dayOfWeek  }}</p>
  </div>
  <div class="event-buttons">
    @if (!stopValue) {
      <button (click)="stopEvent(id!)">Stop</button>
    } @else {
      <button (click)="updateEdit()">Edit</button>
      <button (click)="resumeEvent(id!)">Resume</button>
    } 
    <button (click)="deleteEvent(id!)">Delete</button>
    @if (editMode) {
      <app-edit-form
        [id]="id!"
        [start]="start"
        [stop]="stopValue"
        [dayOfWeek]="dayOfWeek"
        [closeFn]="closeEdit"
        [updateEvent]="updateEvent"/>
    }
  </div>
</div>
