.event {
    background-color: #92AFD7;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.date-info {
    margin: 1em
}

.event-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: solid #1F2F16 0.175em;
}

.title {
    margin-bottom: 0;
    text-decoration: underline;
}
.date-text {
    margin-top: 0;
}