<div class="event" [style.background-color]="getColor()">
  <div class="date-info">
    <h4 class="title">Date</h4>
    <p class="date-text">{{ start?.slice(0, 10) }}</p>
    @let stopValue = stop$ | async; 
    <h4 class="title">Stop</h4>
    <p class="date-text" (click)="copy(stopValue?.slice(11))" style="cursor: pointer">
      {{ stopValue?.slice(11) ?? 'Event not stopped'}}
    </p>
    <h4 class="title">Start</h4>
    <p class="date-text" (click)="copy(start?.slice(11))" style="cursor: pointer">
      {{ start?.slice(11) }}
    </p>

    <h4 class="title">Day of The Week</h4>
    <p class="date-text">{{ dayOfWeek }}</p>
  </div>
  <div class="event-buttons">
    @if (editMode) {
    <app-edit-form
      [id]="id!"
      [start]="start"
      [stop]="stopValue"
      [dayOfWeek]="dayOfWeek"
      [closeFn]="closeEdit"
      [updateEvent]="updateEvent"
    />
    } @else { @if (!stopValue) {
    <button (click)="stopEvent(id!)">Stop</button>
    } @else {
    <button (click)="updateEdit()">Edit</button>
    <button (click)="resumeEvent(id!)">Resume</button>
    <button (click)="deleteEvent(id!)">Delete</button>
    } }
  </div>
</div>
