.timeTracking-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-break {
    border-bottom: 5px solid black;
    margin-bottom: 16px;
}