<div class="event-controls">
  <button (click)="changeWeek(-7)">Previous Week</button>
  <button (click)="creatWorkEvent()">Create Event</button>
  <button (click)="changeWeek(7)">Next Week</button>
</div>
<!-- <div class="week-display">
        <h2>Week of {{ sunday }} - {{ saturday }}</h2>
      </div> -->
<div class="hours-today">
  <h2>Hours Today: {{ hoursToday() }}</h2>
</div>

<div>
  @for (group of groupedEvents(); track group[0])  {
  <h2>{{ group[0] }}</h2>

  @let events = group[1]; 
  @for (event of events; track event.id) {
  <app-work-event
    [id]="event.id"
    [start]="event.start"
    [stop]="event.stop"
    [dayOfWeek]="event.dayOfWeek"
    [isTraining]="event.isTraining"
    [trainingDescription]="event.trainingDescription"
  />
  } }
</div>
